*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img{
  width: 100%;
}
:root{
  --primary:#000;
  --secondary:#325ce8;
  --color:#fff;
  --background:#fafbff;
  --extra:#0B2845;  
  --green: #0FB164;
  --red: #CF2F07;
  --inputbackground: #0C2845;
  --footer: #181433;
  }


.container{
  width: 100%;
  height: 100vh;
 background-color: var(--background);
}

/* start header */

.bckgroundImg{
  background-image: url(img/Vector\ 1581\ \(1\).png);
  background-repeat: no-repeat;
 background-size: contain;
  background-position: cover;
 height: 500px;
 padding: 10px 20px;
 
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;   
}

nav .move{
  flex: 1;
  margin-left:var(-200px)
}

nav ul li{
  list-style: none;
  padding: 0 20px;
  font-size: 15px;
  font-weight: 700;
  line-height: 27px;
font-family: 'Roboto', sans-serif;
font-weight: 700;
}

nav ul li a{
  text-decoration: none;
  color: var(--primary);
}

header, nav ul .quest{
  margin-left: 40px;  
}


nav ul button{
  color: var(--color);
  border: none;
  outline: none;
  padding: 12px 40px;
  border-radius: 5px;
  background-color: var(--secondary);
  font-weight: 700;
font-family: 'Roboto', sans-serif;
font-size: 15px;
}

.bckgroundImg img{
 width: 120px;
  height: 25px;
} 

.bckgroundImg .menuBar{
  width: 25px;
  height: 25px;
}

nav ul{
  display: none;
}
/* header ends */


/* info section starts */

.info{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
}

.info .infoWords h1{
 font-size: 25px;
 padding-bottom: 20px;
 line-height: 30px;
 font-weight: 700;
font-family: 'Roboto', sans-serif;
}

.info .infoWords p{
  font-size: 14px;
  line-height: 27px;
  font-weight: 300;
font-family: 'Roboto', sans-serif;
}

.info .infoImg img{
  margin-top: 70px;
  width: 290px;
  height: 500px;  
}
.info .infoWords a{
  color: var(--color);
  border: none;
  outline: none;
  padding: 10px 30px;
  border-radius: 5px;
  background-color: var(--secondary);
  text-decoration: none;
  margin-top: 20px;
  font-size: 12px;
font-family: 'Roboto', sans-serif;
font-weight: 300;
}

.info .infoWords input{
  margin-top: 5px;
  border: none;
  outline: none;
  font-size: 13px;
  line-height: 21px;
  padding: 10px 30px; 
font-family: 'Roboto', sans-serif;
font-weight: 300;
}

.info .infoWords h3{
 font-size: 15px;
 padding-left: 12px;
font-family: 'Roboto', sans-serif;
font-weight: 700;
}

.info .infoWords .emailDiv{
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
  box-shadow:0 0 1px;
  border-radius: 5px;
  background-color: var(--background);
}

.dots{
  display: flex;
  flex-direction: row;
  gap:15px;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.dots .divOne{
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: var(--secondary);
}

 .dots .divOne-ON{
  background-color: var(--background);
  border: 1px solid var(--secondary);
  height: 10px;
  width: 10px;
  border-radius: 50%;
}
/* information section */
.paymentCard{
  margin-top:60px ;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--color);
  box-shadow: 0 0 1px;
}
.paymentCard .paymentCardword h1{
  font-size: 15px;
  font-weight: 600;
  padding: 20px 0;
  color: var(--extra);
font-family: 'Roboto', sans-serif;
font-weight: 700;
}
 .icons{
  display: flex;
  align-items: center;
  gap:20px;
  margin-top: 10%;
} 

label{
  font-size: 13px;
}

.paymentCard .paymentCardword p{
  font-size: 14px;
  font-weight: 700;
  padding-bottom: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.cardsDiv{
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 30px;
}

.cardsDiv img{
width: 70px;
}

.details{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 7%;
}

.details .deOne{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15% 0;
}

.details .deOne img{
  width: 40px;
}


.details .deOne h1{
  font-size: 20px;
  color: var(--secondary);
  padding-top: 20px;
  margin-top: 30px;
  font-weight: 700;
font-family: 'Roboto', sans-serif;
}

.details .deOne p{
  line-height: 23px;
  font-size: 13px;
  padding-top: 10px;
font-family: 'Roboto', sans-serif;
font-weight: 400;
}
.detailsFlex{
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap:50px;
  
}
.detailsFlex img{
  width: 30px;
}

.detailsFlex h1{
  font-size: 15px;
  padding-top: 10px;
font-family: 'Roboto', sans-serif;
font-family: 700;
}

.detailsFlex p{
  font-size: 13px;
  line-height: 20px;
  padding-top: 10px;
font-weight: 400;
font-family: 'Roboto', sans-serif;
}
.numbers{
  display: flex;
  flex-direction: column;
  gap:35px;
  margin-top: 20px;
}
.map{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 height: 1000px;
 width: 100%;
 background-color: var(--background);

}

.map .mapWord{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.map p{
  font-size: 15px;
  color: var(--secondary);
  padding-bottom: 5px; 
  font-weight: 400;
font-family: 'Roboto', sans-serif;
}

.map h5{
  font-size: 13px;
  font-weight: 400;
font-family: 'Roboto', sans-serif;
}

.map h4{
  padding: 10px 0;
  font-weight: 400;
font-family: 'Roboto', sans-serif;
}

.map a{
  display: inline-block;
  margin: 40px 0;
    color: var(--color);
    border: none;
      text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: var(--secondary);
    font-weight: 400;
font-family: 'Roboto', sans-serif;

}

.four .nums{
  display: flex; 
}

.numbers, .nums span{
  font-size: 14px;
  line-height: 22px;
  color: #000;
  font-weight: 400;
font-family: 'Roboto', sans-serif;
}


.four .nums h5{
  color: var(--secondary);
  align-self:end;
  font-weight: 700;
  font-size: 16px;
font-family: 'Roboto', sans-serif;
}
 .nums h1{
  font-size: 25px;
  font-weight: 700;
  opacity: 2;
  color: rgb(232, 224, 224);
font-family: 'Roboto', sans-serif;
}

.two .nums h5{
  align-self:end;
  font-weight: 700;
  font-size: 16px;
font-family: 'Roboto', sans-serif;
}

.two .nums{
  display: flex;
  gap: 5px;
  align-items: center;
}
.two .nums h5{
  align-self:end;
  font-weight: 700;
font-family: 'Roboto', sans-serif;
}

.one .nums{
  display: flex;
  gap: 5px;
  align-items: center;
}
.one .nums h5{
  align-self:end;
  color: var(--green);
  font-size: 16px;
  font-weight: 700;
font-family: 'Roboto', sans-serif;
}

.three .nums{
  display: flex;
  gap: 5px;
  align-items: center;
}
.three .nums h5{
  align-self:end;
  font-weight: 700;
  color:var(--red);
  font-size: 16px;
  font-weight: 700;
font-family: 'Roboto', sans-serif;
}

/* testimonal section */
.testimonial .testWord p{
 font-size: 12px;
padding-top: 10%;
color: var(--secondary);
font-weight: 700;
font-family: 'Roboto', sans-serif;
text-align: center;
}

.testimonial .testWord h4{
  font-size: 10px;
 text-align: center;
 font-weight: 700;
 font-family: 'Roboto', sans-serif;
 padding-top: 5px;
 line-height: 29px;
 }

 .testimonial .testflex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
 }
 .testimonial .testflex img{
  width: 250px;
  height: 300px;
 }

 .testimonial .testflex h4{
  font-size: 12px;
  line-height: 20px;
  padding: 20px 0;
  font-weight: 700;
 font-family: 'Roboto', sans-serif;
 }
 .testimonial .name p{
  font-size: 13px;
 }

 .testimonial .flexWord{
  margin: 80px;
 }
 .testimonial .icons{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
 }
 .testimonial .icons{
  color: var(--green); 
 }
 .testimonial .quote{
  display: flex;
  align-items: center;
  color:var(--red);
 }


 .groundImg{
  background-image: url(img/Vector\ 1579.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width:calc(100%);
  height: 850px;
  position: absolute;
  left: 0;
}

 .groundImg h1{
  font-size: 16px;
  line-height: 23px;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  padding-bottom: 15px;
  text-align: center;
}

.groundImg p{
  font-size: 13px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding-bottom:50px ;
}
.play{
  background-color: var(--red);
  color: var(--color);
  border: none;
  font-size: 13px;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;

  border-radius: 5px; 
  padding: 12px 30px;
}


.google{
 background-color: var(--secondary);
  color: var(--color);
  border: none;
  font-size: 13px;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  border-radius: 5px; 
  padding: 12px 30px;
}

.inputs{
  display: flex;
  flex-direction: column;
  background-color: var(--inputbackground);
  width: 100%;
  height: 500px;
  position: absolute;
  left: 0;
  right: 0;
  top:calc(5400px);
}

.inputs .inputWords h1{
  font-size: 18px;
  line-height: 25px;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  color: var(--color);
}

.inputs .inputWords p{
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  color: var(--color);
  padding-top: 20px;
width: 200px;
  
}

.inputs .inputWords{
  display: flex;
  flex-direction: column;
align-items: center;
  justify-content: center;
  padding: 30px 0;
 
}

.inputs .inputsField{
margin-top: 70px;
display: inline-block;
text-align: center;
}

.inputs .inputsField input{
  padding: 10px 55px;
  margin-bottom: 20px;
  outline: none;
  opacity: 0.4;
  color: #BBB5E0;
  background: #F2F3F4;
  font-size: 15px;
  border-radius: 10px;

}
.inputs .inputsField button{
  padding: 10px 130px;
  margin-bottom: 10px;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  background-color: var(--secondary);
  color: var(--color);
  border: none;
  border-radius: 10px;
}

/* footer */

.footerStore{
  position: absolute;
  padding-bottom: 10%;
  background-color: var(--color);
  top:500px;
  align-items: center;
  width: 100%; 
}
.footerStore .footer{
    display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  gap: 55px;
}


.footer ul li{
  list-style: none;
  padding: 9px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 12px;  
  color: var(--footer);
}

.footer img{
  flex: 1;
  margin-top: 55px;
}

.footer h1{
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 15px;
  padding-top: 60px;
  padding-bottom: 20px;
  color:var(--footer)
}
.footer p {
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  padding-top: 10px;
  line-height: 22px;
}

.footer h5{
  color: var(--secondary);
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}
.footer .emails{
  display: flex;
}

.footer .emails input{
  padding: 15px 22px;
  margin-bottom: 5px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  outline: none;
  border: none;
  background-color: var(--background);
  opacity: 0.8;
}
.footer button{
 
  color:var(--color);
  background-color:var(--secondary);
  padding: 0 auto;
  border-radius: 2px;
  padding: 0 30px;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 12px;
  border: none;
  margin-bottom: 5px;
}
.copywrite hr{
  display: flex;
  align-items: center;
  justify-content: center;
  width:70%;
  margin: 40px auto;
  border:2px solid rgb(240, 238, 238);
}
.copywrite p  {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  font-size: 15px;

}

.i{
 display: flex; 
 align-items: center;
 gap: 10px;
 margin-top: 20px;
 
}

.i .ico{
  color: var(--secondary);
  
}


@media(min-width:700px){
  nav ul{
    display: flex;
  }
  .bckgroundImg .menuBar{
    display: none;
  }

  .info{
    flex-direction: row;
    justify-content: space-around;
  }
  .info .infoWords .emailDiv{
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 330px;
    margin: 30px 0 auto;
  }

  .info .infoWords h1{
    font-size: 27px;
    line-height: 40px;
   }
   
   .info .infoWords p{
     font-size: 15px;
     line-height: 27px;
   }

   .info .infoImg img{
    margin-top: 0px;
    width: 300px;
    height: 300px;  
  }
  .cardsDiv{
    justify-content:space-evenly;
    align-items: center;
    width: 100%;}   


    .details .deOne{
      flex-direction: column;
      align-items:flex-start;
      justify-content:flex-start;
      flex: 1;
      margin-left: 30px;
      padding: 5% 0;
    }
    .numbers{
      width: 290px;  
    }
    .testimonial .testWord p{
      font-size: 16px;
      font-weight: 700;
      font-family: 'Roboto', sans-serif;
     }
     
     .testimonial .testWord h4{
       font-size: 13px;
       font-weight: 700;
       font-family: 'Roboto', sans-serif;
      }
  
      .testimonial .name p{
        font-size: 13px;
        padding-top: 5px;
        font-weight: 700;
        font-family: 'Roboto', sans-serif;
      }
  
      .testimonial .name{
        margin-top: 5%;
      }
  }
  @media(min-width:712px){
    .inputs{
    top:calc(4500px);
  }
    }
  

  @media(min-width:912px){
    .inputs{
    top:calc(4600px);
  }
    }

@media(min-width:1000px){
  .info .infoWords h1{
    font-size: 32px;
    line-height: 45px;
   }
   .info .infoWords p{
    font-size: 16px;
    line-height: 30px;
  }

  .paymentCard .paymentCardword h1{
    font-size: 18px;
  }

  .paymentCard .paymentCardword p{
    font-size: 16px;
  
  }

  .info .infoImg img{
    width: 450px;
    height: 450px;  
  }

  .map{
    position: relative;
    height: 700px;
  }

.map h4{
  font-size: 15px;
  color: var(--extra);
  font-weight: 700;
  padding-bottom: 5px;
}

.map h5{
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  padding-bottom: 5px;
}
.maplines{
  width: 500px;
  height: 1200px;
}

.map .three{
  position: absolute;
  height: 200px;
  width: 200px;
  margin-bottom: 40px;
  left: 80%;
  top:5%;
}
.map .two{
  position: absolute;
  height: 200px;
  width: 200px;
  left: 45%;
  top:50%;
}
.map .four{
  position: absolute;
  height: 200px;
  width: 200px;
  left: 25%;
  bottom:0%;
}
.map .one{
  height: 200px;
  width: 200px;
  position: absolute;
  left: 63%;
  top: 30%;
}
.nums h1{
  font-size: 45px;
  font-family: 700;
  opacity: 2;
  color: rgb(232, 224, 224);
}
.map .mapWord{
  justify-self: flex-start;
  align-self: flex-start;
  flex: 1;
  margin-left: 20px;
  padding-top: 5%;
}

.testimonial .testflex{
  flex-direction: row;
  justify-content: space-around ;
  align-items: center;
}

.testimonial .testflex img{
  width: 250px;
  height: 300px;
}

.testimonial .testflex h4{
  font-size: 15px;
  line-height:27px ;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
}

.testimonial .testWord p{
  font-size: 15px;

 }
 
 .testimonial .testWord h4{
   font-size: 15px;
  }

.testimonial .testflex .name{
  font-size: 15px;
}

.testimonial .icons{
  align-items:flex-start;
  justify-content:flex-start;
  font-size: 15px;
 }

 .google{
   padding: 15px 40px;
 }

 .play{
  padding: 15px 40px;
 }

 .groundImg h1{
  font-size: 18px;
  line-height: 25px; 
}

.groundImg p{
  font-size: 16px;
}

.inputs{
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.inputs .inputWords p{
width:400px; 
font-size: 13px;
}

.inputs .inputWords h1{
  width:400px;
  font-size: 22px;
  line-height: 33px;
    
  }
  .inputs{
    top:calc(4100px);
  }
  .inputs .inputsField{
    margin-top:0;
  
    } 
}
